# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db
.vscode/

# Dependencies
node_modules/
dist/

# Environment Variables 
.env
.env.local

# Docker
.docker

# Uploads 
public/uploads/*
!public/uploads/.gitkeep